@import "tailwindcss";

@theme {
  --font-prata: "Prata", "serif";
  --font-marcellus: "Marcellus", "serif";
  --font-josefin-sans: "Josefin Sans", "sans-serif";
  --font-gilda-display: "Gilda Display", "serif";
  --font-chivo: "Chivo", "sans-serif";
  --font-sofia: "Sofia", "cursive";
}

.hover-svg-parent:hover svg {
  opacity: 1 !important;
}
