@-webkit-keyframes spinning {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(2turn);
        transform: rotate(2turn)
    }
}

@keyframes spinning {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(2turn);
        transform: rotate(2turn)
    }
}

@-webkit-keyframes upDown {
    0% {
        -webkit-transform: rotate(-15deg) translateY(0);
        transform: rotate(-15deg) translateY(0)
    }

    60% {
        -webkit-transform: rotate(-15deg) translateY(-20px);
        transform: rotate(-15deg) translateY(-20px)
    }

    to {
        -webkit-transform: rotate(-15deg) translateY(0);
        transform: rotate(-15deg) translateY(0)
    }
}

@keyframes upDown {
    0% {
        -webkit-transform: rotate(-15deg) translateY(0);
        transform: rotate(-15deg) translateY(0)
    }

    60% {
        -webkit-transform: rotate(-15deg) translateY(-20px);
        transform: rotate(-15deg) translateY(-20px)
    }

    to {
        -webkit-transform: rotate(-15deg) translateY(0);
        transform: rotate(-15deg) translateY(0)
    }
}

@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    50% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg)
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes swing {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    50% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg)
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@-webkit-keyframes upDownTwo {
    0% {
        -webkit-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0)
    }

    60% {
        -webkit-transform: rotate(0) translateY(-20px);
        transform: rotate(0) translateY(-20px)
    }

    to {
        -webkit-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0)
    }
}

@keyframes upDownTwo {
    0% {
        -webkit-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0)
    }

    60% {
        -webkit-transform: rotate(0) translateY(-20px);
        transform: rotate(0) translateY(-20px)
    }

    to {
        -webkit-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0)
    }
}

@-webkit-keyframes downUp {
    0% {
        -webkit-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0)
    }

    60% {
        -webkit-transform: rotate(0) translateY(20px);
        transform: rotate(0) translateY(20px)
    }

    to {
        -webkit-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0)
    }
}

@keyframes downUp {
    0% {
        -webkit-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0)
    }

    60% {
        -webkit-transform: rotate(0) translateY(20px);
        transform: rotate(0) translateY(20px)
    }

    to {
        -webkit-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0)
    }
}

@-webkit-keyframes spin {
    100%{
        transform: rotate(-360deg);
    }
}

@keyframes spin{
    100%{
        transform: rotate(-360deg);
    }
}

@keyframes leftRight {
    0% {
        -webkit-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0)
    }

    60% {
        -webkit-transform: rotate(0) translateX(20px);
        transform: rotate(0) translateX(20px)
    }

    to {
        -webkit-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0)
    }
}

@-webkit-keyframes spin {
    100%{
        transform: rotate(-360deg);
    }
}

@keyframes spin{
    100%{
        transform: rotate(-360deg);
    }
}
